:root {
  --left-bgcolor: rgba(80, 80, 240, 0.6);
  --right-bgcolor: rgba(40, 40, 40, 0.7);
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h1 {
  font-size: 4rem;
  color: white;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.container {
  background: #222;
  position: relative;
  width: 100%;
  height: 100%;
}

.split {
  position: absolute;
  overflow: hidden;
  width: 50%;
  height: 100%;
}

.split.left {
  left: 0;
  background: url('maxresdefault.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.split.left::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--left-bgcolor);
}

.split.right::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--right-bgcolor);
}

.split.right {
  right: 0;
  background: url('celebrity-lionel-messi.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
